.counter-up {
  position: fixed;
  right: 50px;
  bottom: 20px;
}
.counter-up i {
  font-size: 50px;
}

header {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}
header .logo {
  width: 20%;
}
header .nav-menu {
  width: 80%;
}
header .nav-menu ul li a {
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
header .nav-menu ul li a:hover {
  color: #534FF8;
}
header .nav-menu ul li a:hover .fa-solid {
  transform: rotate(180deg);
}
header .nav-menu ul li a .fa-solid {
  transform: rotate(0deg);
  transition: 1s;
}
header .nav-menu ul li:last-child {
  background-color: blue;
  border-radius: 8mm;
}
header .nav-menu ul li:last-child a {
  color: wheat;
}

.box-text {
  background-image: url(/image/banner-bg11.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 50px 50px 50px 50px;
  padding: 245px 10px 245px 10px;
  text-align: center;
}
.box-text h1 {
  font-size: 70px;
  line-height: 1.18;
  color: #fff;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-text p {
  color: rgba(255, 255, 255, 0.9);
  padding: 0% 16% 4.6% 16%;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.newsletter {
  background-color: aqua;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 22px 35px 22px 35px;
  border-radius: 100px 100px 100px 100px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgba(255, 255, 255, 0.631372549);
  background-color: rgba(255, 255, 255, 0.1803921569);
  color: #ffffff;
  font-size: 16px;
  width: 50%;
  max-width: 50%;
  opacity: 1;
}

.trusted {
  margin-top: 40px;
  text-align: center;
  justify-content: space-between;
}
.trusted .image {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
}
.trusted h1 {
  font-size: 35px;
  line-height: 38px;
  color: #353535;
  padding: 50px;
}

.what h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #121933;
}
.what p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #303030;
  margin-bottom: 70px;
  padding-top: 30px;
}
.what .image {
  margin-top: 90px;
}
.what .image .img-fluid {
  border-radius: 45px 45px 45px 45px;
}

.btn-text {
  background-color: #534FF8;
  padding: 18px 38px 16px 38px;
  color: #ffffff;
  border-radius: 40px 40px 40px 40px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  border-style: none;
}

.take h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #121933;
}
.take p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #303030;
  margin-bottom: 40px;
  padding-top: 30px;
}
.take .image {
  margin-top: 90px;
}
.take .image .img-fluid {
  border-radius: 45px 45px 45px 45px;
}
.take ul {
  list-style: none;
}
.take ul li {
  padding: 10px;
}
.take ul li i {
  color: #534FF8;
  padding-right: 10px;
  font-size: 15x;
}

.get {
  background-color: #534FF8;
  padding: 18px 38px 16px 38px;
  color: #ffffff;
  border-radius: 40px 40px 40px 40px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  border-style: none;
}

.trial {
  color: #353535;
  padding: 18px 15px 16px 15px;
  font-size: 16px;
  font-weight: 700;
}
.trial:hover {
  color: #534FF8;
}

.tools-suite {
  background-image: linear-gradient(130deg, #f5f4ff 0%, #fef4f6 100%);
  margin-top: 70px;
}
.tools-suite .suite-box {
  text-align: center;
}
.tools-suite h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #121933;
}
.tools-suite p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #303030;
}

.keyword-box {
  margin: 10px;
  float: left;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5%;
  margin-top: 60px;
  padding: 15px;
  width: 30%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.keyword-box img {
  width: 20%;
  justify-content: center;
  align-items: center;
}
.keyword-box h1 {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
  font-family: sans-serif;
  line-height: 35px;
  color: #121933;
  margin-top: 15px;
}
.keyword-box p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.863);
}

.keyword-boxes {
  padding-left: 60px;
}

#digital {
  padding: 3rem 0;
}
#digital .marketing h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #121933;
}
#digital .marketing p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #303030;
  margin: 20px 0;
  padding-top: 30px;
  width: 80%;
}
#digital .marketing ul li {
  padding: 15px 0;
}
#digital .marketing ul .image1 {
  margin-left: 0%;
  width: 70px;
  padding-right: 20px;
}
#digital .img-fluid {
  border-radius: 45px 45px 45px 45px;
}

.select {
  margin-top: 40px;
  text-align: center;
  justify-content: space-between;
  background-color: rgba(188, 241, 241, 0.199);
}
.select .right .star {
  background-color: #534FF8;
  color: #fff;
  padding: 10px 30px 10px 30px;
  border-style: none;
  margin-top: 20px;
}
.select h1 {
  margin-top: 20px;
  font-size: 50px;
  font-weight: bold;
}
.select h6 {
  font-size: 14px;
  font-weight: 700;
  color: rgba(18, 25, 51, 0.6705882353);
}
.select h2 {
  font-size: 50px;
  font-weight: bold;
  color: #5755ec;
  display: inline-block;
}
.select h5 {
  font-size: 18px;
  display: inline-block;
  color: rgba(53, 53, 53, 0.8);
}
.select .star {
  border-color: #534FF8;
  padding: 18px 80px 16px 80px;
  color: #534FF8;
  border-radius: 40px 40px 40px 40px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #ffffff;
}
.select .option {
  box-shadow: 7px 7px 13px rgba(26, 26, 82, 0.384);
  background-color: #fff;
  border-radius: 5%;
  margin-top: 60px;
  padding: 15px;
  width: 100%;
}
.select i {
  color: #534FF8;
  border-radius: 20px 20px 20px 20px;
}
.select .list {
  font-size: 16px;
  line-height: 26px;
  color: #353535;
  padding-right: 36px;
  margin: 15px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.customers {
  margin-top: 90px;
}
.customers .saying {
  box-shadow: 3px 1px 3px 1px rgba(0, 0, 0, 0.13);
  border-radius: 25px 25px 25px 25px;
}
.customers .saying p {
  margin-left: 5px;
}
.customers .saying .img-fluid {
  width: 34px;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.customers .saying .img-fluid:hover {
  opacity: 0;
}
.customers .saying i {
  margin-left: 5px;
  margin-bottom: 20px;
  color: #534FF8;
}
.customers h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #121933;
}

#have {
  margin-top: 50px;
  background-image: url(../image/home-faq.jpg);
  width: 100%;
  height: 120vh;
}
#have .any h1 {
  margin-top: 125px;
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: white;
}
#have .any p {
  color: white;
  font-size: 18px;
  padding-bottom: 20px;
}
#have .any ul li {
  color: white;
  font-size: 18px;
  background-color: #121933;
  padding: 20px 20px;
  border-radius: 5px;
}
#have h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: #121933;
}

.quick {
  margin-top: 100px;
  width: 90%;
  height: 80vh;
  padding: 36px 50px 50px 50px;
  background-color: #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 78px 100px rgba(0, 0, 0, 0.1);
}
.quick h5 {
  color: red;
}
.quick ul li {
  padding: 10px 10px;
}
.quick ul li input {
  width: 100%;
  padding: 20px 20px;
  border-radius: 5px;
}
.quick .submit {
  width: 100%;
  border-style: none;
  padding: 18px 20px 18px 20px;
  color: #fff;
  border-radius: 8px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #534FF8;
  box-shadow: 3px 1px 3px 1px rgba(0, 0, 0, 0.644);
  margin-top: 30px;
}

.sasco {
  background-image: url(/image/gradient.jpg);
  text-align: center;
}
.sasco .today h2 {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin-top: 50px;
}
.sasco .today p {
  font-size: 18px;
  color: #fff;
  padding: 25px 25px;
}
.sasco .today .star {
  border-color: #534FF8;
  padding: 18px 80px 16px 80px;
  color: #534FF8;
  border-radius: 40px 40px 40px 40px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #ffffff;
  margin-bottom: 50px;
}

.footer {
  width: 100%;
  margin-top: 80px;
}

.blog .img-fluid {
  padding-bottom: 20px;
  padding-right: 40px;
}
.blog ul li {
  display: inline-block;
  margin-right: 6px;
}
.blog ul li a {
  text-decoration: none;
}
.blog ul li a i {
  color: black;
  font-size: 40px;
  border-radius: 6px;
  display: block;
}

.resources h4 {
  padding-left: 70px;
  padding-bottom: 30px;
}
.resources li {
  padding: 10px 10px;
}
.resources li i {
  font-size: 16px;
  line-height: 26px;
  color: #353535;
  padding-left: 70px;
}

.end {
  padding-top: 30px;
  padding-bottom: 15px;
  width: 100%;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: rgba(228, 222, 230, 0.3607843137);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.end h5 {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
  opacity: 0.8;
  display: inline-block;
  color: #121933;
}

.appplay i button {
  display: flex;
  flex-wrap: nowrap;
  padding-right: 30px;
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
}/*# sourceMappingURL=style.css.map */